<mat-toolbar color="primary">
  <button *ngIf="rota == '/shopping-cart'" mat-icon-button aria-label="Example icon-button with back icon" (click)="directToShopping()">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <span>Poc Pobre Mercadinho</span>
  <span class="spacer"></span>
  <button *ngIf="rota !== '/shopping-cart'" #showBack mat-icon-button aria-label="Example icon-button with shopping icon" (click)="directToShopping('/shopping-cart')">
    <mat-icon>card_giftcard</mat-icon>
  </button>
</mat-toolbar>